*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-image: url('../411820.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-bar{
    min-height: 10vh;
    width: 100%;
    background: transparent;
}
.unord-list{
    list-style-type: none;
    display:  flex;
}
.unord-list li{
    text-decoration: none;
}